### 1.How do you get a list of all the keys in a dictionary ?

To get a list of all the keys in a dictionary , we use the .keys() function

In [5]:
d={'India':'New Delhi' , 'USA' :'Washington' , "France":'Paris'}

In [6]:
d.keys()

dict_keys(['India', 'USA', 'France'])

### 2. What do you maen by List Comrehension in puthon ?

 List Comrehension ara a short and elegent way to define and create new lists based on exiting lists

In [8]:
l=[1,2,3,4]

In [10]:
l1=[]
for i in l:
    if i %2==0:
        l1.append(i)
print (l1)

[2, 4]

In [11]:
l2=[i for i in l if i %2==0]
print(l2)

[2, 4]

عمومًا، يعتمد استخدام الذاكرة والوقت على حجم البيانات المعالجة ونوع العملية المطلوب تنفيذها. في بعض الحالات، قد يستخدم List Comprehension ذاكرة أقل ويكون أسرع من استخدام حلقة for، وفي حالات أخرى قد يكون العكس صحيحًا. 

بالنسبة لـ lambda، فهو يستخدم لإنشاء وظائف صغيرة وبسيطة في سطر واحد، وعادة ما يكون أسرع من استخدام حلقة for أو List Comprehension في هذه الحالات. 

ولكن بشكل عام، يجب إجراء اختبارات لقياس الوقت والذاكرة المستخدمة في كل حالة محددة لتحديد أيهما يناسبها بشكل أفضل.

### 3. Given a list of numbers ,  find the squares of the numbers using the map function in python .

the map() function calls the specified function for each element of an iterable and returns a list of results

In [19]:
def sq (x):
    return x*x
num=[1,2,3,4,5]
num_squared=map(sq,num)
for num in num_squared :
    print (num)

1
4
9
16
25

يستخدم lambda لإنشاء وظائف صغيرة وبسيطة في سطر واحد، بينما يستخدم map لتطبيق وظيفة معينة على كل عنصر في قائمة وإرجاع قائمة جديدة بالنتائج. 

بشكل عام، يمكن استخدام map بشكل أسرع وأكثر فعالية في حالات تطبيق نفس الوظيفة على عدة عناصر في القائمة، بينما يمكن استخدام lambda في حالات تحتاج فيها إلى إنشاء وظيفة بسيطة ومستقلة. 

بالنسبة للاستخدام، فإن map يستخدم عادة مع الدوال المدمجة في Python (built-in functions)، بينما يستخدم lambda لإنشاء وظائف مخصصة تلبي احتياجات البرنامج. 

بالنسبة للاستخدام الذاكرة، فإن map يستخدم ذاكرة أقل من استخدام حلقة for التقليدية، بينما يستخدم lambda ذاكرة قليلة جدًا، حيث يتم إنشاء الوظيفة في الذاكرة ولا يتم تخزينها في قائمة أو متغير. 

ولكن، يجب إجراء اختبارات لقياس الوقت والذاكرة المستخدمة في كل حالة محددة لتحديد أيهما يناسبها بشكل أف

### 4. Write a program to filter out the numbers divisible by 3 from a tuple using lambda function

In [20]:
my_tup=(1,2,3,4,5,12,9)
new_tup=tuple(filter(lambda x:(x%3 == 0), my_tup))
print(new_tup)

(3, 12, 9)

### 5. How to create a dataframe from a dictionary ?

In [26]:
import pandas as pd
emp={"Name" : ['any','tala','hadeel'],
    "Age" :[12,20,22],
    "city":['dubie','lattakia','damas']}

In [27]:
print (emp)

{'Name': ['any', 'tala', 'hadeel'], 'Age': [12, 20, 22], 'city': ['dubie', 'lattakia', 'damas']}

In [28]:
df=pd.DataFrame(emp)

In [29]:
df

     Name  Age      city
0     any   12     dubie
1    tala   20  lattakia
2  hadeel   22     damas

### 6. What is the diference between loc() and iloc() in python ?

تختلف loc() و iloc() في Python في كيفية الوصول إلى البيانات في DataFrame. تستخدم loc() للوصول إلى الصفوف والأعمدة باستخدام العلامات (labels) الموجودة في الفهرس (index)، بينما تستخدم iloc() للوصول إلى الصفوف والأعمدة باستخدام المواقع (integer positions) في الفهرس. بشكل عام، يستخدم loc() عند الوصول إلى البيانات باستخدام العلامات، بينما يستخدم iloc() عند الوصول إلى البيانات باستخدام المواقع.
 Loc() and iloc() in Python differ in how data is accessed in a DataFrame. Loc() is used to access rows and columns using labels in the index, while iloc () is used to access rows and columns using integer positions in the index. In general, loc() is used when accessing data using tags, while iloc() is used when accessing data using locations.

In [30]:
df.loc[1:2,'Age']

1    20
2    22
Name: Age, dtype: int64

In [36]:
df.iloc[0:3,0:3]

     Name  Age      city
0     any   12     dubie
1    tala   20  lattakia
2  hadeel   22     damas

In [39]:
print(df.loc[df['Age']>19,['Name','Age'])

     Name  Age
1    tala   20
2  hadeel   22

In [44]:
print(df.iloc[(df['Age']>19).values ,[0,1]])

     Name  Age
1    tala   20
2  hadeel   22

### 7. How is list.append() different from list.extend()?

list.append() adds its argument as a single element to the end of a list , the length of the list increace by one 
list.extend() iterates over its argument and adds each element to the list , the length of the list increases by the number of elements in it’s argument

In [46]:
list1 = ['a','b','c','d']
print(len(list1))
list1.append(['e','f'])
print (list1)
print(len(list1))

4
['a', 'b', 'c', 'd', ['e', 'f']]
5

In [47]:
list1 = ['a','b','c','d']
print(len(list1))
list1.extend(['e','f'])
print (list1)
print(len(list1))

4
['a', 'b', 'c', 'd', 'e', 'f']
6

### 8. suppose you have df dataset which has a Age column . Create a few field age that will accept 2 values if Age<20 then young if age >=20 ,then adult.

In [48]:
f=lambda x: "young" if x <20 else "adult" 
df['age']=df.Age.apply(f)
print(df)

     Name  Age      city    age
0     any   12     dubie  young
1    tala   20  lattakia  adult
2  hadeel   22     damas  adult

### 9. Create a 4x4 matrix and find the sum of all the diagonal elements in the matrix .

In [50]:
import numpy as np
m=np.array([[2,1,3,4],
             [5,6,7,8],
            [2,6,3,1],
            [9,6,7,3]])

In [52]:
print(m.diagonal())
print(m.diagonal().sum())

[2 6 3 3]
14

### 10. Given a df dataframe , find the average and maximum Long of the X using Pandas .

In [66]:
df=pd.DataFrame({"X" : ['B','B','T','T','O'],
    "Long" :[120,179,1000,6000,88]})

In [67]:
result = df.groupby('X').agg({'Long':['mean','max']})
print(result)

     Long
     mean   max
X
B   149.5   179
O    88.0    88
T  3500.0  6000